# Autostart programs

# As long as picom does not work in my testing vm, it will be deactivated.
#picom &
# Run pywal at boot andrRestore last cholorscheme and background that were
# in use.
wal -R &
sh ~/.config/pipewire/.pipewire-start.sh &

# Start Qtile
exec dbus-launch --exit-with-session qtile start